.draggable{
    -webkit-app-region: drag;
    width: calc(100% - 35px);
    height: 25px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

*:focus{
    outline: none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    font-size: 80px;
    margin: 0px;
    line-height: 90px;
}

.toptext{
    padding-top: 15px;
    padding-left: 30px;
}

.pin{
    border: #d7d7ff00 2px solid;
    border-radius: 5px;
    width: 400px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    color: #35353f;
    background-color: #d7d7ff;
}

.button, .button:hover{
    background-image: linear-gradient(to right, #2e9eea, #3666ea);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    color: white;
    /*width: 200px;*/
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    z-index: 20;
}

#resumesession{
    background-image: linear-gradient(to right, #ff7f6a, #ff6a94);
    position: absolute;
    right: 235px;
    bottom: 25px;
}

h2.buttontext{
    margin: 0px;
}

img{
    -webkit-user-drag: none;
}

body{
    overflow-x: hidden;
    margin: 0px;
    -webkit-user-select: none;
    font-family: 'Montserrat', sans-serif;
    color: #35353f;
}

body::-webkit-scrollbar{
    background-color: gray;
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #d7d7ff;
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #35353f4d;
    width: 10px;
    border-radius: 10px;
}

body::-webkit-scrollbar-button{
    display: none;
}

#newsessionnext{
    position: fixed;
}

#counselors{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 150px));
    padding: 25px;
}

.counselor{
    width: 150px;
    height: 150px;
    background-color: #d7d7ff;
    border-radius: 150px;
    counter-increment: grid-item;
    position: relative;
    margin-bottom: 35px;
    cursor: pointer;
}

.counselorname{
    position: absolute;
    bottom: -30px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.selected, .counselor:hover{
    background-image: linear-gradient(to right, #2e9eea, #3666ea);
}

.imagecontainer{
    width: 140px;
    height: 140px;
    margin: 5px;
    overflow: hidden;
    border-radius: 148px;
}

.counselorimg{
    width: 70%;
    margin-left: 15%;
}

.bottomgradient{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100px;
    background-image: url("images/bottomgradientlight.svg");
    background-repeat: repeat-x;
    background-position: -100px;
    pointer-events: none;
}

#sidebar{
    background-image: linear-gradient(to right, #2e9eea, #3666ea);
    width: 33%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 20;
}

#newsession{
    background-image: linear-gradient(to right, #ff7f6a, #ff6a94);
    position: fixed;
    bottom: 25px;
    width: 155px;
    padding-right: 10px;
    padding-left: 10px;
    left: 25px;
}

#sidebartitle{
    margin-left: 25px;
    font-size: 2.5vw;
}

#conversations{
    margin-left: 40px;
    font-size: 2vw;
    cursor: pointer;
}

#conversationwindow{
    width: 67%;
    margin-left: 33%;
    padding-bottom: 100px;
    overflow: auto;
}

.conversationtitle{
    margin-left: 25px;
    margin-right: 25px;
}

#mainmenu{
    display: none;
}

#newsessionscreen{
    display: none;
}

#messagebox{
    width: 80%;
    font-size: 20px;
    border: none;
    height: 35px;
    padding: 7px;
    padding-left: 8px;
    background-color: #2e9fea00;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}


.messagebox{
    width: 56%;
    position: fixed;
    bottom: 25px;
    z-index: 20;
    background-color: #d7d7ff;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}

.receivedmessage{
    max-width: 50%;
    min-width: 20px;
    background-color: #d7d7ff;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    margin: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    clear: both;
    float: left;
    font-size: 20px;
    word-wrap: break-word;
}

.sentmessage{
    max-width: 50%;
    min-width: 20px;
    background-image: linear-gradient(to right, #2e9eea, #3666ea);
    color: white;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    float: right;
    margin: 25px;
    clear: both;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    overflow-wrap: break-word;

}

p.sentmessagetext, p.receivedmessagetext{
    padding: 0px;
    margin: 0px;
}

#contextmenu{
    display: none;
    position: absolute;
    background-color: #d7d7ff;
    border-radius: 5px;
    z-index: 30;
}

.ctxitem{
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}

.ctxitem:hover{
    background-image: linear-gradient(to right, #2e9eea, #3666ea);
    color: white;
}

#x{
    padding: 10px;
    cursor: pointer;
    height: 25px;
    position: fixed;
    right: 0px;
    top: 0px;
}

#x:hover{
    filter: invert(58%) sepia(71%) saturate(4376%) hue-rotate(327deg) brightness(108%) contrast(93%);
}